@font-face{
  font-family:'FontAwesome';
  src:url('/blog/css/fonts/fontawesome-webfont.eot?v=4.0.3');
  src:url('/blog/css/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),url('/blog/css/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),url('/blog/css/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),url('/blog/css/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body > .container-fluid{
  margin-top: 80px
}
.list-tree > li > a{
  color: #555;
  font-weight: bold;
}
.list-tree ul{
  padding-left: 8px;
}

.navbar-call-to-action{
  display: table;
  height: 50px;
}
.navbar-call-to-action .center{
  display:table-cell; 
  vertical-align: middle;
}
h1, .h1{
  font-size: 28px;
}
h2, .h2{
  font-size: 24px;
}
h3, .h3{
  font-size: 20px;
}
h4, .h4,
h5, .h5{
  font-size: 18px;
}


/* Posts */
.alert-tip p{
  margin: 0 0 10px;
}
.alert-tip h3,
.alert-tip .h3{
  margin-top: 10px;
}
